.present {
	padding-top: 37px;
}

.present__title {
	font-family: 'IBM Plex Mono';
	font-weight: 500;
	font-size: 90px;
	line-height: 120%;
	margin-bottom: 8px;
}

.present__tagline {
	width: 350px;
	line-height: 130%;
	margin-bottom: 54px;
}

.present__btn {
	display: block;
	width: 285px;
	height: 68px;
	background-image: url('../img/btn-trailer.png');
	filter: drop-shadow(-4px 6px 10px rgba(10, 10, 10, 0.51));
	border-radius: 2px;
	background-position: center;
	background-size: cover;
	transition: background-image 0.2s ease-in-out;
}

.present__btn:hover {
	background-image: url('../img/btn-trailer-hover.png');
}

.present__btn:active {
	background-image: url('../img/btn-trailer-active.png');
}

.present__hero {
	margin-bottom: 30px;
}
