.present {
	padding-top: 37px;
	padding-bottom: 10px;
}

.present__title {
	font-family: 'IBM Plex Mono';
	font-weight: 500;
	font-size: 90px;
	line-height: 120%;
	margin-bottom: 8px;
}

.present__tagline {
	max-width: 350px;
	line-height: 130%;
	margin-bottom: 54px;
}

.present__btn {
	display: block;
	width: 285px;
	height: 68px;
	background-image: url('../img/btn-trailer.png');
	filter: drop-shadow(-4px 6px 10px rgba(10, 10, 10, 0.51));
	border-radius: 2px;
	background-position: center;
	background-size: cover;
	transition: background-image 0.2s ease-in-out;
	outline: 0;
}

.present__btn:hover {
	background-image: url('../img/btn-trailer-hover.png');
}

.present__btn:active {
	background-image: url('../img/btn-trailer-active.png');
}

.present__btn:focus {
	background-image: url('../img/btn-trailer-focus.png');
}

.present__hero {
	margin-bottom: 30px;
}

@media (min-height: 900px) {
	.present {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}

	.present__container {
		flex-grow: 1;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		max-height: 1200px;
	}
}

@media (max-width: 1000px) { 
	.present {
		padding-top: 35px;
	}

	.present__hero {
		margin-bottom: 10px;
	}

	.present__title {
		font-size: 70px;
	}

	.present__tagline {
		margin-bottom: 28px;
		font-size: 16px;
		max-width: 290px;
	}

	.present__btn {
		width: 246px;
		height: 59px;
	}
}

@media (max-width: 850px) { 
	.present {
		padding-top: 68px;
	}

	.present__hero {
		margin-bottom: 0;
	}

	.present__title {
		font-size: 60px;
	}

	.present__tabs {
		margin-top: -26px;
	}
}

@media (max-width: 650px) { 
	.present {
		padding-top: 85px;
	}

	.present__hero {
		margin-bottom: 30px;
	}

	.present__tabs {
		margin-top: 0;
	}

	.present__btn {
		width: 290px;
		height: 63px;
	}

	.present__title {
		font-size: 50px;
		margin-bottom: 6px;
	}

	.present__tagline {
		margin-bottom: 28px;
		font-size: 16px;
		max-width: 260px;
	}
}

@media (max-width: 480px) { 
	.present__title {
		font-size: 40px;
		margin-bottom: 6px;
	}

	.present__tagline {
		margin-bottom: 23px;
		font-size: 12px;
		max-width: 193px;
	}
}