.tabs__control {
	display: flex;
	justify-content: space-between;
	width: 285px;
	background: rgba(0, 0, 0, 0.7);
	padding: 13px 21px;
	margin-left: auto;
}

.tabs__btn {
	background-color: transparent;
	border: 0;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s ease-in-out;
}

.tabs__btn-active {
	border-color:#fff;
}